---
title: feed
layout: default
permalink: /feed
page_style: |
  table *{padding:0 0;margin:0 0;border:0;line-height:1;vertical-align:middle}
  table tr > *,tr,table div,.col {display: block ruby}
  td a{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;max-width:300px;display:inline-block;line-height:1.3}
  table a{text-decoration: none;}
  table .small{font-size:.9em}
  .tag-text{color:#aaa}
  .compact .tag-text{display:none}
  .compact .small span{color:#aaa;visibility: visible}
  .compact .small {color:#aaa;visibility: hidden;display:flex;flex-direction: row-reverse}
  .compact td a{max-width:70vw}
  .compact td[data-level="2"]:empty + td{display:none}
  .compact tr:empty,.compact td:empty,.compact th[data-level="1"]{display:none}
  button{margin-bottom:1rem}
  h4 {font-size:.9em;font-variant-numeric:proportional-nums}
---

{% assign books_by_date = site.data.books|sort:'created'|reverse|group_by_exp:"item","item.created|date: '%b %Y'" -%}
<section class="container">
  <button class="btn btn-outline-success" onclick="this.nextElementSibling.classList.toggle('compact')">Toggle compact</button>
  <table class="">
  {%- for books in books_by_date %}
  {%- assign list = books.items|sort:'created'|reverse %}
  <tr>
    <th data-level="1">
      <h2 id="{{books.name|slugify:'latin'}}" class="mt-4 mb-3">{{books.name|replace:"-"," "|capitalize}}</h2>
    </th>
    <td></td>
  </tr>
  {%- for book in list %}
  {%- assign statcount = site.data.stats.bookmarks_per_month[books.name]  %}
  <tr>
    <th data-level="2"><div class="col">
      <time class="pre">{{book.created|date: '%F'}}</time>
      <a class="tag-text" href="{{book.tags}}">{{book.tags}}</a>
    </div></th>
    <td class="pb-3">
      <h4 class="h6"><a href="./{{book.tags}}/{{book.slug}}.html">{{book.title}}</a></h4>
      <div class="small">{{book.author|split: ","|first}} &bull; <span class="text-muted">{{book.count}} annotation{% if book.count > 1 %}s{%- endif -%}</span></div>
    </td>
  </tr>
  {%- endfor %}
  <tr>
    <td data-level="2"></td>
    <td class="pt-2 small text-muted">
      <span>started <strong>{{list.size}}</strong>&nbsp;book{% if list.size > 1 %}s{%- endif -%}</span>
      <span>&sol;</span>
      <span>created <strong>{{statcount}}</strong>&nbsp;bookmark{% if statcount > 1 %}s{%- endif -%}</span>
    </td>
  </tr>
  <tr><td colspan="2"></td></tr>
  {%- endfor -%}
  </table>
</section>
