---
title: feed
layout: default
permalink: /feed
---
{% assign books_by_date = site.data.books|sort:'created'|reverse|group_by_exp:"item","item.created|date: '%b %Y'" -%}
<section class="books">
  <table>
  {%- for books in books_by_date %}
  {%- assign list = books.items|sort:'created'|reverse %}
  <tr>
    <th data-level="1">
      <h2 id="{{books.name|slugify:'latin'}}" class="mt-4 mb-3">{{books.name|replace:"-"," "|capitalize}}</h2>
    </th>
    <td></td>
  </tr>
  {%- for book in list %}
  {%- assign statcount = site.data.stats.bookmarks_per_month[books.name]  %}
  <tr data-genre="{{book.tags}}" data-created="{{book.created}}" data-author="{{book.author}}" data-count="{{book.count}}">
    <th data-level="2" class="pb-3">
      <time class="pre">{{book.created|date: '%F'}}</time><br><a class="small muted text-decoration-none fw-normal sans-serif" href="{{book.tags}}">{{book.tags}}</a>
    </th>
    <td class="pb-3">
      <h4 class="h6"><a href="./{{book.tags}}/{{book.slug}}.html">{{book.title}}</a></h4>
      <div class="small">{{book.author|split: ","|first}} &bull; <span class="text-muted">{{book.count}} annotation{% if book.count > 1 %}s{%- endif -%}</span></div>
    </td>
  </tr>
  {%- endfor %}
  <tr>
    <td></td>
    <td class="pt-2 small text-muted">
      <span>started <strong>{{list.size}}</strong>&nbsp;book{% if list.size > 1 %}s{%- endif -%}</span>
      <span>&sol;</span>
      <span>created <strong>{{statcount}}</strong>&nbsp;bookmark{% if statcount > 1 %}s{%- endif -%}</span>
    </td>
  </tr>
  <tr><td colspan="2"></td></tr>
  {%- endfor -%}
  </table>
</section>
