---
title: Home
layout: default 
permalink: /index2
inline_css: ["books.css"]
inline_js: ["url.js"]
---

{%- assign githubcoverurl = 'https://raw.githubusercontent.com/'| append: site.repository | append: '/'| append: site.book.branch | append: '/' | append: site.book.dir -%}
{%- assign books = site.data.books %}
{%- assign maxcount = site.data.books %}

<div class="panel" style="--range-width:120px">
  <div class="flex sb gap-md ss w-100">
    <div class="flex ai-center center gap-sm lh-1">
      <label for="rangefilter" class="fs-90 ws-pre">LIMIT</label>
      <input type="range" id="rangefilter" min="0" max="{{maxcount.count}}" step="5" value="1"
            oninput="numfilter.value=value" onchange="filterCount(value)" />
      <input type="number" id="numfilter" min="0" max="{{maxcount.count}}" step="5" value="1"
            oninput="rangefilter.value=value" onchange="filterCount(value)" />
    </div>
    <div class="flex ai-baseline">
      <label for="sortby" class="fs-90 ws-pre">Sort By</label>
      <select id="sortby" class="form-select" onchange="sortElements(value)">
        <option value="count" data-type="number">Count</option>
        <option value="updated" data-type="date">Updated</option>
        <option value="created" data-type="date" selected>Created</option>
      </select>
    </div>
  </div>
</div>
<div class="py-0 pb-2" style="z-index:1">
  <div class="books" data-sort="created" style="--gap:.5rem"> 
    {% for book in books %} 
      {% assign title = book.title | replace: '"', "" | split: " (" | first | split: "," | first | split: ":" | first -%} 
      <div class="book flex col gap-1" 
        data-count="{{book.count}}" 
        data-genre="{{book.tags}}" 
        data-last-activity="{{book.modified}}" 
        data-created="{{book.created}}">
        <label data-query="genre" class="genre fw-400" title="{{book.tags}}">{{book.tags}}</label>
        <a href="{{ site.baseurl }}/{{book.url}}"><img src="{{ site.baseurl }}/assets/covers/{{book.assetid}}.jpg" /></a>
        <a href="{{ site.baseurl }}/{{book.url}}" class="gc"><strong>{{ title }}</strong></a>
        <label data-query="author" class="clamp" style="--clamp-lines:2">{{book.author}}</label>
        <label data-query="created" class="date" data-label="created">{{book.created|date:'%b %Y'}}</label>
        <label data-query="modified" class="date" data-label="updated">{{book.modified|date:'%b %Y'}}</label>
        <label data-query="count" data-after="annotation{% if book.count > 1 %}s{%- endif -%}" class="count toast">{{book.count}}</label>
      </div> 
    {%- endfor %} 
    </div>
  <div class="cc" data-counter-label="book(s)"></div>
</div>

