--- 
layout: default 
permalink: / 
inline_js: ["scripts/filter.js"] 
inline_css: ["index.css"] 
--- 

{%- assign books = site.data.books | sort: "created" | reverse %} 
{%- assign maxcount = site.data.books | sort: "count" | last %} 

<div class="panel sb">
  <div id="numfilter" class="flex wrap gap-1 sm-col">
    <label data-filter-limit="0"><strong>FILTER COUNT</strong></label>
    <input type="range" id="rangefilter" min="0" max="{{maxcount.count}}" step="5" value="0" oninput="filterCount(value)" />
  </div>
  <div class="flex wrap gap-1 sm-col">
    <label><strong>SORT BY</strong></label>
    <select id="sortby" class="form-select" onchange="sortElements(value)">
      <option value="count" data-type="number">Count</option>
      <option value="last-activity" data-type="date">Last Activity</option>
      <option value="created" data-type="date" selected>Created</option>
    </select>
  </div>
</div>
<div class="books" data-sort="created" style="--gap:.5rem"> 
{% for book in books %} 
  {% assign title = book.title | replace: '"', "" | split: " (" | first | split: "," | first | split: ":" | first -%} 
  <div class="book flex col gap-1" 
    data-count="{{book.count}}" 
    data-genre="{{book.tags}}" 
    data-last-activity="{{book.modified}}" 
    data-created="{{book.created}}">
    <label data-query="genre" class="genre" title="{{book.tags}}">{{book.tags}}</label>
    <a href="{{ site.baseurl }}/{{book.url}}">
      <img src="{{ site.baseurl }}/assets/covers/{{book.assetid}}.jpg" />
      <strong><span>{{ title }}</span></strong>
    </a>
    <label data-query="author" class="clamp" style="--clamp-lines:2">{{book.author}}</label>
    <label data-query="created" class="date" data-label="created">{{book.created|date:'%b %Y'}}</label>
    <label data-query="modified" class="date" data-label="updated">{{book.modified|date:'%b %Y'}}</label>
    <label data-query="count" data-after="annotation{% if book.count > 1 %}s{%- endif -%}" class="count toast">{{book.count}}</label>
  </div> 
{%- endfor %} 
</div>
