
html{-webkit-text-size-adjust:100%;font-feature-settings:normal;font-variation-settings:normal;-webkit-tap-highlight-color:transparent}
input::placeholder,textarea::placeholder{opacity:1;color:#9ca3af}
html{height:100%;font-feature-settings:"cv02","cv03","cv04","cv11"}
body{min-height:100%;color:#555}
aside{border-top:dotted 2px gray;padding-top:2rem;font-size:var(--aside-font-size)}
h2,h3,h4,h5{margin:0 0}
h1 a{text-decoration-skip-ink:all}
q:after{content:""}
q:before{content:""}
a.h6{font-weight:bold;text-decoration-thickness: 1.4px;}
a:hover{font-weight:700;transition:font-weight .2ms linear}
.breadcrumb{margin-bottom:0;font-family:var(--font-sans-serif)!important;font-size:.85rem}
.bookmark q{white-space:pre-line;text-align:justify}
.bookmark small{margin-top:.5rem}
.container{display:flex;flex-direction:column;gap:2rem 1rem;padding:0 1rem}
.clamp{display:-webkit-box!important;-webkit-line-clamp:var(--clamp-lines,1);-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.gap{gap:var(--gap)}
.site-title a{font-size:1.75rem}
.site-title{margin-bottom:1rem}
.bigger{font-size:1.2em}
.smaller{font-size:smaller}
.toc{max-height:min(300px,40vh);position:sticky;top:1rem;font-size:.9rem;z-index:1;width:20px;max-width:20px}
.toc a{display:block;text-decoration:none;font-weight:400;white-space:pre;padding:0 4px;line-height:1;color:#222}
.toc a:hover{text-decoration:none;background:#eee}
.toc a:hover:after{text-decoration:none;border:0;content:attr(title);position:absolute;right:1.5rem;color:#fff;background:#222;padding:2px 4px;z-index:1;font-size:.8rem}
.mark q{background:#fff3cd;line-height:1.5}
.muted{color:#656d76}
.gray{color:#aaa}
.sans-serif{font-family:var(--font-sans-serif)}
.serif{font-family:var(--font-serif)}
.pre{white-space:pre}
.letter-spacing-1{letter-spacing:1px}
table{border-collapse:separate}
.small>a{text-decoration:none}
.compact [data-level="2"]{display:none}
.link-primary:hover{/*! color:var(--dark)!important; */text-decoration-color:inherit!important}
.compact [data-level="2"]{display:none}
.annotation-list,.book-list,.list{display:flex;flex-direction:column;gap:1.2rem}
.annotation-list li{padding:0 1rem;width:90%}
.post-list{display:flex;flex-direction:column;gap:.5rem}
.post-list li{padding:0 .5rem;/*! font-size:smaller */}
.book-list{padding:0 1.5rem;gap:.75rem}
.book-list li{padding:0 .5rem;line-height:1.5}
.divide>span:after{content:" / "}
.divide{display:inline-flex;gap:.25rem;font-size:smaller}
.divide>span:last-of-type:after{content:""}
h4,h5,h6{font-size:inherit}
p{margin:0 0}
.jump-top{text-align:right}
.form-select{display:block;width:100%;padding:.375rem 2.25rem .375rem .75rem;font-weight:400;background:0 0;border:1px solid #ddd;border-radius:2px;background-repeat:no-repeat;background-position:right .75rem center;background-size:16px 12px}
.content{display:flex;flex-direction:column;gap:.5rem}
.row{display:flex;flex-direction:row}
.chapters{display:flex;flex-direction:column;flex-grow:1}
.timestamp{display:block}
.info{display:flex;gap:.4rem}
.semibold{font-weight:500!important}
span.title{display:block}
.title a{font-weight:600}
