root{
  --line-height:1.3
}
[data-layout="monospace"]{
  --bs-body-font-family: courier,monospace;
}

[data-layout="serif"]{
  --bs-body-font-family: times,serif;
}

[data-layout="sans-serif"]{
  --bs-body-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body{
  font-family: var(--bs-body-font-family);
  line-height:1.2;
}

@media (min-width:900px){
body > .container{max-width:80%;margin:0 auto}
}