
html {
  font-size: 14px;
}
:root {
  --font-monospace: courier, monospace;
  --font-sans-serif: avenir,Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-serif: times, serif;
}
body {
  font-family: var(--font-sans-serif);
  tab-size: 6;
  line-height: unset;
}
@media (min-width: 900px) {
  body > .container {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .breadcrumb {
    display: none;
  }
}

