---
layout: default
type: book
inline_css: ["book.css"] 
inline_js: ["scripts/book.js"]
---
{%- assign pagecreated = page.created | date: "%b %Y" -%}
{%- assign pagemodified = page.modified | date: "%b %Y" -%}
{%- assign annotations = site.data.activity | where: 'assetid', page.assetid  | sort: "rangestart" | sort: "cfi" -%}
{%- assign chapters = annotations| sort: "rangestart" | group_by: "chapter" -%}

<article class="book-page">
  <nav class="flex col gap-2 border">
    <h2 data-label="title">{{page.title}}</h2>
    <h3 data-label="author" class="semibold">{{page.author}}</h3>
    <div class="info">
      {{annotations.size}} annotation{% if annotations.size > 1 %}s{%- endif %} &bull; 
      {{pagecreated}}{%- if pagemodified != pagecreated -%}&nbsp;&ndash;&nbsp;{{pagemodified}}{%- endif %} &bull;
      <a href="{{site.baseurl}}/api/{{page.assetid}}.json">data</a>
    </div>
  </nav>
  <section class="flex sticky gap">
    <div class="chapters flex col gap-3">
    {%- for chapter in chapters %}
    {%- assign sortedchapteritems = chapter.items | sort: "cfi" %}
      <h3 id="{{chapter.name | slugify: 'latin'}}">{{chapter.name|replace:'#',''|strip}}</h3>
      <ul class="annotation-list" style="--gap:5px">
        {%- for annotation in sortedchapteritems %}
        <li id="{{annotation.id}}" class="bookmark">
          <q>{{ annotation.text }}</q>
          <small class="timestamp" aria-hidden="true">
            <a href="#{{annotation.id}}">#{{annotation.id}}</a>
            <span>&bull;</span>
            <time>{{annotation.created|date:'%b %-d %Y %-I:%M%p'}}</time>
          </small>
        </li>
        {%- endfor %}
      </ul>
    {%- endfor %}

    {%- include postlist.html %}
    
    </div>

    <nav class="toc" tab-index="-1" aria-hidden="true">
      {%- for chapter in chapters %}
         <a aria-hidden="true" title="{{chapter.name|replace: '#',''|strip}}" href="#{{chapter.name | slugify: 'latin'}}">&mdash;</a>
      {%- endfor %}
    </nav>

  </section>

</article>

