---
layout: default
page_style: |
  .page-content li{all:unset}
  q{white-space:pre-line;display:block;word-break:break-word;quotes:none}
  .annotation-list li{display:list-item}
  .annotation-list q{white-space:pre-line}
  .annotation-list{display:flex;flex-direction:column;gap:1rem}
  .highlighted q:after{content:"";display:block}
  .highlighted q{background:hsl(50,80%,83.5%);display:inline;line-height:1.5}
  .post-list li a{line-height:1.5;--box-shadow:currentColor;box-shadow:inset 0 -1.25px 0 #fff,inset 0 -3px 0 var(--box-shadow);text-decoration:none;transition:box-shadow .3s}
  .post-list li a:hover{--box-shadow:var(--border-color)}
  .timestamp a{background:unset;text-decoration:none;}
  .timestamp{display:block;margin-top:2px;font-weight:700}
  @media (max-width:700px){
  .page-content{padding-left:1rem;padding-right:1rem;flex:1}
  .sidebar{flex:1}
  .container{flex-direction:column;display:flex}
  }
  @media (min-width:700px){
  .highlighted{max-width:50vw!important}
  .highlighted q{line-height:1.5}
  .container{flex-direction:row-reverse;display:flex;padding:.5rem}
  .separator{padding-right:2rem;border-right:1px dotted #222}
  }
  @media (max-width:600px){
  .sidebar ul{margin:0 1rem;padding:0}
  .annotation-list{margin:0 1rem;padding:0 .5rem}
  .separator{border-top:1px dotted #222;padding-top:1rem}
  }
---
{%- assign pagecreated = page.created | date_to_string: "ordinal", "US" -%}
{%- assign pagemodified = page.modified |  date_to_string: "ordinal", "US" -%}
{%- assign api = site.data.store | where: 'id', page.assetid |first -%}
{%- assign annotations = site.data.activity | where: 'assetid', page.assetid  | sort: "cfi" -%}

<div class="container">
  <div class="page-content pt-0 mt-1 pb-2 sm-px-0">
    <h2 class="book-title">{{ page.title }}</h2>
    <h3 class="book-subtitle">{{ api.subtitle}}</h3>
    <h3 class="book-author">{{page.author}}</h3>
    <p class="info">
      {{annotations.size}} annotation{% if annotations.size > 1 %}s{%- endif %} &bull; 
      <a class="dotted" href="{{site.baseurl}}/api/{{page.assetid}}.json">data</a>
    </p>
    <p class="info">
      <span>First annotation on <strong><time datetime="{{page.date}}">{{pagecreated}}</time></strong>.</span>
      {%- if pagemodified != pagecreated %}
      <span>Last on <strong><time datetime="{{page.modified}}">{{pagemodified}}</time></strong>.</span>
      {%- endif -%}
    </p>
    <p><span class="fs-90 up muted">{{annotations.size}} quote{%- if annotations.size > 1 -%}s{%- endif -%}</span></p>
    <div class="tag-list mt-1">
      {%- for tag in page.tags -%}
      <a href="{{ site.baseurl }}/{{tag}}" class="tag fs-90 gc">{{ tag }}</a>
      {%- endfor -%}
    </div>
    <hr>
    {%- assign chapters = annotations | group_by: "chapter" -%}
    {%- for chapter in chapters -%}
    {%- assign sortedchapteritems = chapter.items | sort: "cfi" %}
    <h3 class="chapter-title">{{chapter.name}}</h3>
    <ul class="annotation-list" style="--gap:5px">
      {%- for annotation in sortedchapteritems %}
      <li id="{{annotation.id}}" class="bookmark">
        <q>{{ annotation.text }}</q>
        <small class="timestamp flex gap" aria-hidden="true">
          <a href="#{{annotation.id}}">#{{annotation.id}}</a>
          <span class="accent">&bull;</span>
          <time>{{annotation.created|date:'%b %-d %Y %-I:%M%p'}}</time>
        </small>
      </li>
      {%- endfor %}
    </ul>
    {%- endfor %}
  </div>
  <div class="sidebar pt-0 mt-1 pr-0">
    <div class="separator">
    {%- include postlist.html -%}
    </div>
  </div>
</div>
<script>
  function highlightAnnotation() {
    Array.from(document.querySelectorAll('.highlighted')).forEach(e => e.classList.remove('highlighted'))
    if (location.hash) {
      document.querySelector(`[id="${location.hash.substr(1)}"]`).classList.add('highlighted')
    }
  }
  highlightAnnotation()
  window.onhashchange = highlightAnnotation;
</script>
