<!doctype html>
<html lang="en">
<head>
  {% if page.title != 'Home' -%}
  <title>{{ page.title | default:site.title }}</title>
  {% else -%}
  <title>{{site.title}}</title>
  {%- endif -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <link rel="icon" href="{{site.favicon_ico|relative_url}}" type="image/x-icon">
  <meta name="description" content="{{site.description}}" />
  {% if page.author %}<meta name="author" content="{{page.author}}" /> {%- endif %}
  <meta name="Compiled by" content="{{site.author}} (@{{site.github_username}})">
  <meta name="robots" content="index, follow">

<style>
{% include style.css %}
</style>

<style>
{%- if page.inline_css %}
{%- for css in page.inline_css -%}
{% include {{css}} %}
{%- endfor %}
{%- endif %}

{%- if page.page_style -%}
{{ page.page_style }}
{%- endif %}
</style>

</head>

<body data-layout="{{page.layout}}">

  <header>
    <h1 title="{{site.title}}"><a class="gc site-title" href="{{ '/' | relative_url }}">{{site.title}}</a></h1>
  </header>
  {% if page.title == 'Home' %}{% include panel.html %}{% endif %}

  <main>
  {{- content -}}
  {% include footer.html %}
  </main>

  {% if page.inline_js %}
  <script>
    {% for js in page.inline_js -%}
    {% include {{js}} %}
    {%- endfor -%}  
  </script>
  {% endif %}
</body>
</html>
