<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta charset="UTF-8">
  <title>{{page.title|default:site.title}} | @nntrn</title>
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <link rel="icon" href="{{site.favicon_ico|relative_url}}" type="image/x-icon">
  <meta name="description" content="{{site.description}}" />
  <meta name="author" content="{{site.author}} (@{{site.github_username}})">
  <meta name="robots" content="index, follow">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta name="twitter:site" content="{{ site.title }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ site.url | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ page.description | default: site.description }}">
  <style>
  {% include style.css %}
  </style>
</head>
<body>
<header>
  <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{site.title}}</a></h1>
</header>
<main>
{{ content }}
<footer>
  <p>Created by <a href="https://github.com/{{site.repository}}">@{{site.github_username}}</a></p>
</footer>
</main>
{%- if page.type == "book" %}
<script>
{% include script.js %}
</script>
{%- endif %}
</body>
</html>
