---
layout: default
type: genre
---
{%-  assign booklist = page.books | sort: "title" %}
<section>
<h2>{{page.tag|replace: "-"," "}}</h2>
  <ul style="width:90%" class="book-list">
    {%- for book in booklist %}
    <li>
      <span class="title"><a href="{{book.slug}}">{{book.title}}</a> by {{book.author|split: ","|first}}</span>
      <span class="divide">
        <span>{{book.modified|date: '%b %Y'}}</span>
        <span>{{book.count}} annotation{% if book.count > 1 %}s{%- endif -%}</span>
      </span>
    </li>
    {%- endfor %}
  </ul>
</section>