---
layout: default
type: genre
---
{%-  assign booklist = page.books | sort: "title" %}
<section>
<h2>{{page.tag|replace: "-"," "}}</h2>
  <ul style="width:90%" class="d-flex flex-column gap-3">
    {%- for book in booklist %}
    <li class="small">
      <h3 class="h6"><a href="{{book.slug}}">{{book.title}}</a> by {{book.author|split: ","|first}}</h3>
      <span class="text-muted">last read on <time>{{book.modified|date: '%b %e %Y'}}</time></span>
      <span class="red">&nbsp;/&nbsp;</span>
      <span>{{book.count}} annotation{% if book.count > 1 %}s{%- endif -%}</span>
    </li>
    {%- endfor %}
  </ul>
</section>