---
layout: default
type: genre
---
{%-  assign booklist = page.books | sort: "title" %}
<section>
<h2>#{{page.tag}}</h2>
<ul style="width:90%" class="d-flex flex-column gap-3">
  {%- for book in booklist %}
  <li>
    <h4 class="h6"><a href="{{book.slug}}">{{book.title}}</a> by {{book.author|split: ","|first}}</h4>
    <div class="d-flex small gap" style="--gap:4px">
      <span class="accent">{{book.count}} annotation{% if book.count > 1 %}s{%- endif -%}</span>
      <span>&bull;</span>
      <span class="text-muted">last read on <time>{{book.modified|date: '%b %e %Y'}}</time></span>
    </div>
  </li>
  {%- endfor %}
</ul>
</section>